@charset "utf-8";

* {
    padding: 0%;
    border: 0;

    
}


.inicio{
    width: 30%;
    float: left;
    border-style: groove;
    padding: 0%;
  
    
}
.publicidad {
    width: 30%;
    position: absolute;
    bottom: -220%;
    border-style: dashed;
    padding: 0%;
}
.contenido{
    width: 53%;
    float: left;
    border-style: dashed;
    padding: 10px;
}
.noticia{
    float: left;
    width: 12%;
}
footer{
    padding: 10px 0px;
    margin: 0;
    width: 100%;
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
}
footer p {
    margin: 0%;
    padding: 0%;
}

