@charset "utf-8";
.imagenSistema{
    height: 300px;
    width: 900px;
    display: block;
    margin: auto;
}
.center {
    background: none;
    font-size: 60px;
    text-align: center;
    color: white;
    margin: 0%;
}
#Tini {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color:#FF5252;
    padding: 10px;
    border-bottom: 1px solid black;
}
#Tini:hover {
    background: rgb(248, 78, 78);
    color: white;
    
}
.publicidadimagen {
    height: 270px;
    width: 360px;
}
.publicidadimagen:hover{
    opacity: 0.5;
}
.publicidadletra {
    color:red;
}
.letracontenido{
    font-size: 20px ;
}
.letranoticia {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.noticiaimagenes {
    height: 130px;
    width: 150px;
}
nav a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
    
}
nav a:hover {
    background: rgb(252, 74, 74);
    color: white;
}
.inicioF {
    height: 500px;
    width: 100%;
    background-image: url(../imagenes/fondoP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}
.separaPublicidad {
    border-bottom: 1px solid black;
}
.separaPublicidad.descripcionEs {
    padding: 4px;
}