@charset "utf-8";

* {
    background-color: rgb(191, 237, 248);
	border-width: 5 px;
	border-color: rgb(32, 4, 4);
    border-style:  solid;
    margin: 0.3%;
}

.noticia{
    width: 30%;
    float: left;
}
.contenido{
    width: 54%;
    float: left;
}
.publicidad{
    float: left;
    width: 13%;
}
footer{
    clear: both;
}